<div id="header">
  <a id="logo" href="https://animaapp.github.io/docs/v1/guide/">
    <img src="/docs/images/logo.png">
    <span>Auto-Layout for Sketch</span>
  </a>
  <ul id="nav">
    <%- partial('partials/main_menu', { context: 'nav' }) %>
  </ul>
</div>
